html
{
font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif;
}

:root {
  --rød: #ff5b4c;
  --blå: #6b9299; 
  --mørkgrøn: #65734b;
  --lysegrøn: #7accb1;  
  /* knapper */
  --rødknap:#f5d6d1;
  --blåknap:#dbe5e6;
  --mørkgrønknap:#d9dad4;
  --lysgrønknap:#e1ede9;
}

/* karriere side mobil version  */

.pentagonplace {

}

.pentagon {
  height: 175px;
  width: 175px;
  margin-left: 10%;
}

.redtext {
  font-size: 10px;
  font-family: gotham light;
  color: var(--rød);
  position:
}




footer
{
  grid-area: d;
    font-family: gotham;
    font-weight: 300;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    background-color: #173448;
}
